"""
Transmission, redistribution or modification of this software is strictly forbidden.
Copyright 2017, Daniel Newman, All rights reserved.
"""

"config.py"
# This is an example of config.py,
# Enter your config and rename to config.py

# Database config
db_host = 'localhost'
db_name = 'shoptracker_demo'
db_user = 'shoptracker_user'
db_password = 'sh0ptr4ck3r'

# Configure login file
logging_file = 'log.txt'

# configure domain name
domain_name = 'ez-tuxedo.com'

# path to phantomjs
phantomjs_path = 'phantomjs'

# maximum amount of attempts to retrieve product options for a product
max_product_option_retrieval_attempts = 3
